<%= form_with model: user, local:true do |f| %>
<table class="table table-user">
  <h2>User info</h2>
  <thead>
    <tr>
      <%= image_tag @user.get_profile_image(100,100) %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th colspan="2">
      </th>
    </tr>
  </tbody>
</table>
<% end %>